body {
	font-family: 'Open Sans', sans-serif;
}

a {
	text-decoration: none;
	color: #005492;
}

a:hover {
	color: #5D626E;
}

h2 {
	color: #fff;
	font-size: 20px;
	font-weight: 600;
}

p {
	color: #fff;
	font-size: 13px;
}


ul {
	list-style-type: none;
}

.uppercase {
	text-transform: uppercase;
}

#pageWrapper {
	
}


#headerWrapper {
	width: 100%;
	background: #1B1D21;
	position: relative;
}

header {
	margin: 0 auto;
	width: 980px;
}

#logo {
	color: #fff;
	font-size: 45px;
	padding-top: 20px;
	position: absolute;
}


#mainNav {
	float: right;
	padding: 10px 0 20px 0;
}

#mainNav li {
	display: inline-block;
	padding: 10px 30px 0 0;
	color: #005492;
}

#contentWrapper {
	background: #557f9f;
	clear: both;
}

#mainContent {
	width: 980px;
}

#mainContent h2 {
	text-align: center;
}

#aboutMe {
	padding: 25px;
}

#recentWork {
	margin: 0 auto;
	width: 980px;
}

#recentWork img {
	border: 2px solid #5D626E;
	display: block;
}

#recentWork img:hover {
	opacity: .5;
}

#recentWork li {
	color: #fff;
	display: inline-block;
	padding: 0 25px 0 0;
}

#footerWrapper {
	height: 20px;
	padding-bottom: 20px;
}

footer {
	color: #fff;
	margin: 0 auto;
	width: 100%;
}

#footerNav {
	background: #fff;
	float: right;
	width: 980px;
}

#footerNav li {
	display: inline-block;
	padding: 0 30px 0 0;
}
